
body, h1, h3 {
    font-family: "Permanent Marker", Helvetica, sans-serif;
}

.bg-soft-white {
    background-color: #E5E5E5;
}

.song {
    border-radius: 8px;
    box-shadow: 5px 5px 10px 2px #A9A9A9;
    background-color: #EFE9E9;
}

.learned {
    border: 5px solid #383;
    background-color: #dbf9dd;
}

.not-learned {
    border: 5px solid #A13;
    background-color: #FFE9E9;    
}